<div class="login">
  <div class="container">
    <div class="form">

    <h2>Registrarse</h2>
			
      
   <%= form_for(@user) do |f| %>
      <%= f.text_field :username, :placeholder => "Nombre de usuario", class:"custom_input_white" %>     
      <%= f.email_field :email, :placeholder => "Email", class:"custom_input_white"  %>
      <%= f.password_field :password, :placeholder => "Contraseña", class:"custom_input_white"  %>
      <%= f.submit "Crear cuenta", class: "btn-submit btn custom_buttom_blue" %>
    <% end %>

    </br>
    </br>

      <%= link_to "¿Ya tienes una cuenta? Inicia sesión aqui", 'login' %>

  
    </div>
  </div>
</div>