<!DOCTYPE html>
<html>
  <head>
    <title>Velas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
   

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <%= stylesheet_link_tag "home" %>

    <%= yield :head %>

  </head>

  <body>
   

  <nav>
    <div class="nav-wrapper">
      <%= link_to "Creavelas", root_path, class:"brand-logo" %></a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons icon-menu">menu</i></a>
     
      
      <% if current_user %> 
  <ul class="right hide-on-med-and-down">
  <li><%= link_to " Encender vela",'/candles/new' , class:" fa fa-fire create_candle btn custom_buttom_white" %></a></li>
 
    <li><%= current_user.username %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% else %> 
   <ul class="right hide-on-med-and-down">
    <li><%= link_to "Iniciar sesión", 'login', class:"btn custom_buttom_blue" %></a></li> 
    <li><%= link_to "Registrarse", 'signup', class:"btn custom_buttom_blue" %></a></li> 
  </ul> 
<% end %>

<ul id="slide-out" class="side-nav">
    <% if current_user %> 
   
   <div class="userView">
    <li><%= link_to current_user.username, 'login' %></a></li>     
    <li><%= link_to current_user.email, 'login' %></a></li>  
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
   </div>
   
   <li><%= link_to "Encender vela",'/candles/new' , class:"create_candle btn custom_buttom_blue" %></a></li> 
    
       
<% else %> 
    <li><%= link_to "Iniciar sesión", 'login', class:"btn custom_buttom_blue" %></a></li> 
    <li><%= link_to "Registrarse", 'signup', class:"btn custom_buttom_blue" %></a></li> 
<% end %>


  </ul>



    </div>
  </nav>
        

  <div class="container">
        
        <%= yield %>
</div>

  </body>
</html>
