<!DOCTYPE html>
<html>
  <head>
    <title>Velas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <%= stylesheet_link_tag "home" %>

    <%= yield :head %>

  </head>

  <body>
   

  <nav>
    <div class="nav-wrapper">
      <%= link_to "Creavelas", root_path, class:"brand-logo" %></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     
      
      <% if current_user %> 
  <ul class="right hide-on-med-and-down">
  <li><%= link_to "Encender vela",'/candles/new' , class:"create_candle waves-effect waves-light btn white" %></a></li>
 
    <li><%= current_user.username %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% else %> 
   <ul class="right hide-on-med-and-down">
    <li><%= link_to "Login", 'login' %></a></li> 
    <li><%= link_to "Signup", 'signup' %></a></li> 
  </ul> 
<% end %>





    </div>
  </nav>
        

  <div class="container">
        
    <% content_for :head do %>
  <script type="text/javascript">
    $(function() {
     $(".button-collapse").sideNav();
      }
    });
  </script>
<% end %>

    <%= yield %>
</div>

  </body>
</html>
